@import '../styles/variables';

@include mobile {
    header {
        position: fixed;
        \padding: 20px;
        width: -webkit-fill-available;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 70px;
            }

            .mb-hamburger-menu {
                display: flex;
                flex-direction: column;
                cursor: pointer;

                .line {
                    width: 24px;
                    border: 1px solid;
                    border-radius: 2px;
                }

                .line2 {
                    margin: 5px 0;
                }
            }
        }
        .mb-sidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 35%;
            height: 100vh;
            padding: 20px;
            background-color: $line-purple;
            z-index: 99999;

            .open-hamburger-menu {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 15px 0px 20px;
                cursor: pointer;

                .line {
                    width: 24px;
                    border: 1px solid;
                    border-radius: 2px;
                }

                .line1 {
                    transform: rotate(45deg) translateX(5%);
                }

                .line2 {
                    margin: 5px 0;
                    display: none;
                }

                .line3 {
                    transform: rotate(-45deg) translateX(10%);
                }
            }

            .mb-sidebar-menu {
                padding: 20px 0;

                .main-search {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .main-search-input {
                        border: 1px solid transparent;
                        border-radius: 4px;
                        width: 100%;
                        outline: none;
                    }

                    .main-search-button {
                        border: 1px solid transparent;
                        background-color: transparent;

                        .search-icon {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                li {
                    padding-bottom: 15px;
                    font-weight: 700;
                }
            }
        }
    }
}
